
.icon{
  margin-right: 1rem;
    font-size: 2rem;
}
.parentLayout{
  margin-top: 0.5rem;
}
.rotate270{
transform:rotate(270deg);
}

.evtPopOverLocation.sapMTextMaxWidth{
  width:85%;
  font-weight:bold;
  font-size:0.775rem;
}
.marginLeftHalfRem{
  margin-left:0.5rem;
}